*{
    background-color:black;
    color: white;
    font-family: arial;   
}

h1{
    text-align: center;
}

button{
    display: inline;
}

#audioacertadas{
    display: none
    }

#audiofalladas{
    display: none
    }
